.contato {
    display: flex;
    color: var(--azul);
    background: var(--branco);
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem; /*medidas responsiva, buscar artigo no alura*/
    align-items: left;  
    font-family: 'Poppins', sans-serif;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

.contato__texto {
    font-size: 16px;
    line-height: 1.5rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    font-family: 'Poppins', sans-serif;
}

.contato__email {
    border-radius: 24px;
    width: 90%; /*muito mais direto*/
    padding: 0.7em 0;
    border: 1px solid var(--azul);
    background-color: transparent;
    color: var(--azul);
    font-family: 'Poppins', sans-serif;
    text-indent: 3.5em;
}

.contato__email::placeholder {
    background: url("../Assets/Email.svg") no-repeat    ;
    color: var(--azul);
    fill: var(--laranja);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding-left: .5rem;
    background-position: 1.5em;
}

.contato__email:hover {
    border: 1px solid rgb(154, 100, 1);
    transition: 400ms;
    color: var(--laranja);
}

.contato__email:hover::placeholder {
    color: var(--laranja);
    transition: 400ms;
}

@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        color: var(--azul);
        background-image: var(--branco);
        flex-direction: row;
        justify-content: center;
        padding: 2rem 10rem 2rem 10rem; /*medidas responsiva, buscar artigo no alura*/
        align-items: left;  
        font-family: 'Poppins', sans-serif;
        /* width: 60vw; */
        margin: 0 auto;
    }

    .contato__titulo {
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 1rem;
        font-family: 'Poppins', sans-serif;
        width: 80%;
        line-height: 2rem;
    }

    .contato__texto {
        font-size: 16px;
        line-height: 1.5rem;
        padding-bottom: 1rem;
        padding-right: 3rem;
        font-family: 'Poppins', sans-serif;
    
    }
    
    .contato__texto {
        font-size: 16px;
        line-height: 1.5rem;
        padding-bottom: 1rem;
        padding-right: 3rem;
        font-family: 'Poppins', sans-serif;
        width: 80%;
    }

    .contato__container--dois {
        align-self: center;
    }

    .contato__container--um {
        display: flex;
        flex-direction: column;
    }

    .contato__email {
        border-radius: 24px;
        width: 18rem; 
        padding: 0.7em 0;
        border: 1px solid var(--azul);
        background-color: transparent;
        color: var(--azul);
        font-family: 'Poppins', sans-serif;
        text-indent: 3.5em; /*onde começa texto dentro do input*/
    }
}

@media screen and (min-width: 1728px) {
    .contato {
        padding:3em 20vw;
    }

}